
# Development Files
/private.key
/private.key-protected
/public.key

# Cached files
/cache/**
/.gocache/**
/.cache/**

# Debug Builds
__debug_bin**
/goaptcacher

# Documentation build
/node_modules/
/.npm/
/docs/.vitepress/cache/
/docs/.vitepress/dist/
docs/.vitepress/.temp/
